{% extends "base.html" %}

{% block content %}
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="buttons is-centered">
              <a href="\people" class="button is-info is-large is-fullwidth">People</a>
              <a href="\obras" class="button is-info is-large is-fullwidth">Obras</a>
              <a href="\caixas" class="button is-info is-large is-fullwidth">Caixas</a>
            </div>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-half">
            <div class="buttons is-centered">
              <a href="\registos" class="button is-info is-large is-fullwidth">View all movements</a>
              <a href="\novo_registo" class="button is-info is-large is-fullwidth">Add new movement</a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
{% endblock %}
